<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Insert title here</title>
</head>
<body>
<h2>消息</h2>
<div>
    <span th:text="${msg}"></span>
</div>
</body>
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/2.1.2/jquery.js"></script>
<script type="text/javascript">
    $.ajax({
        url: '/Csrf/ajaxPost',
        type: 'post',
        data: {
            'name' : "ccc",
            'age' : 123
        },
        dataType: 'text',
        success: function (result) {
            alert(result);
        },
        error: function (result) {
            alert(result);
        }
    });
</script>
</html>